<ul id="user">
    {{range .Users}}
    <li id="user-{{.Name}}" style="color:{{if .Iteration}}red{{else}}green{{end}};">{{.Name}} {{.Iteration}}</li>
    {{end}}
</ul>
<div id="clock">00:30:00</div>
<script src="/assets/js/jquery.countdown.min.js"></script>
{{if gt .SecondsLeft 0}}
<script type="text/javascript">
    var $clock = $('#clock')
            .on('update.countdown', function (event) {
                var format = '%H:%M:%S';
                $(this).html(event.strftime(format));
            })
            .on('finish.countdown', function (event) {
            });
    end = new Date().valueOf() + {{.SecondsLeft}} * 1000;
    $clock.countdown(end.toString());
</script>
{{end}}
<button id="start-stop" {{if and (not .Current.Iteration) (not .Current.CanStart)}} disabled{{end}}>{{if .Current.Iteration}}Stop{{else}}Start{{end}}</button>
<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
<script>
    var socket = io();
    var userName = '{{.Current.Name}}';
    $('#start-stop').click(function () {
        text = $('#start-stop').text()
        socket.emit(text.toLowerCase());
        if (text == 'Stop') {
            stopTimer();
        } else {
            startTimer();
        }
    });
    socket.on('start', function (name) {
        if (name == userName) {
            startTimer()
        } else {
            $('#user-' + name).css('color', 'red');
        }
    });
    socket.on('stop', function (name) {
        if (name == userName) {
            stopTimer()
        } else {
            $('#user-' + name).css('color', 'green');
        }
    });
    socket.on('enable', function (name) {
        if (name == userName) {
            $('#start-stop').prop('disabled', false);
            $('#clock').countdown('stop').html('00:30:00')
        }
    });

    function startTimer() {
        $('#start-stop').text('Stop');
        var $clock = $('#clock')
        .on('update.countdown', function (event) {
            var format = '%H:%M:%S';
            $(this).html(event.strftime(format));
        })
        .on('finish.countdown', function (event) {
        });
        end = new Date().valueOf() + 30 * 60 * 1000;
        $clock.countdown(end.toString());
    }

    function stopTimer() {
        $('#start-stop').text('Start').prop('disabled', true);
        var $clock = $('#clock')
        .on('update.countdown', function (event) {
            var format = '%H:%M:%S';
            $(this).html(event.strftime(format));
        })
        .on('finish.countdown', function (event) {
        });
        end = new Date().valueOf() + 5 * 60 * 1000;
        $clock.countdown(end.toString());
    }
</script>