<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pomodoro Crew</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="assets/css/app.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>
</head>
<body>

<div class="navbar" role="navigation">
    <div class="container">
        <div class="col-xs-8">
    	    <a class="brand" href="/">
    	       <img class="brand__img" src="assets/imgs/logo-web.png">
               <h1 class="brand__title">Pomodoro Crew</h1>
    	    </a>
        </div>
        <div class="auth">
		{{if .IsAuthorized}}
		<div class="col-xs-2 auth__item--log">
			<a class="auth__link" href="/logout">Logout</a>
		</div>
		<div class="col-xs-2 auth__item--reg">
			<a class="auth__link" href="/">Settings</a>
		</div>
		{{else}}
            <div class="col-xs-2 auth__item--log">
                <a class="auth__link" href="/login">Login</a>
            </div>
            <div class="col-xs-2 auth__item--reg">
                <a class="auth__link" href="/login">Registration</a>
            </div>
	    {{end}}
        </div>
    </div>
</div>

<div class="container">
	<div class="col-xs-3 column-header--aside">
	   <h2 class="column-title">Notes</h2>
	</div>
	<div class="col-xs-7 column-header">
		<h2 class="column-title">Team Pomodoro Crew</h2>
    </div>
	<div class="col-xs-2 column-header--aside">
		<h2 class="column-title">Teams</h2>
	</div>
    <div class="col-xs-3 column column--aside"></div>
    <div class="col-xs-7 column">
		{{yield}}
    </div>
    <div class="col-xs-2 column column--aside"></div>
</div>

<div class="container">
    <div class="footer"><span class="footer__text">2016 All rights reserved. Pomodoro Crew</span></div>
</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
